body{
    background-color: rgba(170,157,255,1);
    }
.bigpart{
    background-color: rgba(35,28,45,0.899);
    margin: auto;
    margin-top: 100px;
    height: 520px;
    width: 480px;
    border-radius: 30px;
    box-shadow: rgba(0,00,0,.8);
    color: seashell;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
}
.bottom{
    margin-top: 30px;
    display: inline;
}
.left{margin-right: 50px;}
.bill{
    margin-top: -12px;
    height: 30px;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    border-radius: 15px;
}